/* variables */
@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Josefin+Sans:wght@100;400;700&display=swap");
.agenda-container__fecha-1, .agenda-container__fecha-2, .agenda-container__fecha-3, .agenda-container__fecha-4, .agenda-container__fecha-5, .agenda-container__descripcion-1, .agenda-container__descripcion-2, .agenda-container__descripcion-3, .agenda-container__descripcion-4, .agenda-container__descripcion-5 {
  padding: 40px 20px;
  border-top: solid white 1px; }

/* sections */
.header {
  justify-content: space-around;
  flex-flow: row wrap;
  display: flex;
  width: 100%;
  background-color: #0064004d;
  padding: 1rem 4rem; }
  .header__h1 {
    font-size: 4rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
  .header__nav ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap; }
  .header__nav li {
    margin: 1rem; }
  .header__nav--li {
    color: #E7344C; }

.navbar-nav {
  --bs-nav-link-padding-x: 0;
  --bs-nav-link-padding-y: 0; }

.nav-link--active {
  font-weight: bold;
  color: #522745 !important; }

.nav-link:hover {
  color: #FF73B8;
  transition: 0.3s; }

/* FOOTER */
.footer {
  grid-area: footer;
  color: white;
  text-align: center;
  font-family: josefin sans;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: .2rem;
  padding-bottom: 2rem; }
  .footer img {
    width: 2.5rem;
    margin: 0 10px; }

.footer p {
  margin: 0; }

@media (max-width: 992px) {
  .nav-link {
    font-size: 0.7rem; } }

.main-index {
  justify-content: center;
  background-image: url("../img/index-qionoto.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  font-family: aboreto;
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-weight: 100;
  font-size: 6rem; }
  .main-index h1 {
    padding-top: 40vh;
    font-size: 4rem; }
  .main-index--sp {
    background-image: url("../img/espacio.jpg") !important;
    background-repeat: no-repeat; }
  .main-index--fcion {
    background-image: url("../img/img-formacion.png") !important;
    background-repeat: no-repeat; }
  .main-index--ag {
    background-image: url("../img/banner-agenda.png") !important;
    background-repeat: no-repeat; }

.slider {
  margin-top: 10rem; }
  .slider__encabezado {
    text-align: center;
    padding-bottom: 3vh;
    font-family: aboreto;
    font-size: 1.7rem;
    color: white; }

.main {
  width: 95%;
  margin: auto;
  color: white;
  font-family: lato;
  font-size: 20px;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: space-evenly; }
  .main__cards {
    width: 23%;
    padding: 3%;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden; }
    .main__cards h3 {
      font-family: aboreto;
      text-transform: uppercase;
      text-align: left;
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-size: 1.5rem; }
    .main__cards p {
      color: white;
      font-family: josefin sans;
      font-size: 1.2rem;
      font-weight: 100;
      line-height: 120%;
      text-align: left; }
    .main__cards img {
      width: 250px;
      transition: transform 0.2s; }
      .main__cards img:hover {
        transform: scale(1.6);
        transition: .2; }

.intro {
  font-family: aboreto;
  width: 90%;
  margin: auto;
  font-weight: 100;
  font-size: 4rem;
  line-height: 4rem;
  color: white;
  padding: 30vh 0vh; }

.eventos {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 7vh; }
  .eventos h3 {
    font-family: aboreto;
    text-transform: uppercase;
    margin-bottom: 2rem; }
  .eventos p {
    width: 50%;
    font-size: 1.1rem;
    line-height: 120%;
    font-family: josefin sans;
    font-weight: 100; }
  .eventos__uno {
    padding: 2rem 0rem;
    margin-left: 10%;
    color: white;
    height: 50vh;
    width: 40%;
    background-position: right;
    background-size: 60%;
    background-repeat: no-repeat; }
    .eventos__uno--e1 {
      background-image: url("../img/evento2.jpg"); }
    .eventos__uno--e2 {
      background-image: url("../img/evento3.jpg"); }
    .eventos__uno--e3 {
      background-image: url("../img/evento4.jpg"); }
  .eventos__dos {
    padding: 2rem 0 2rem 5rem;
    margin-right: 10%;
    color: white;
    height: 50vh;
    width: 40%;
    background-position: right;
    background-size: 60%;
    background-repeat: no-repeat; }
    .eventos__dos--e1 {
      background-image: url(../img/evento5.jpg); }
    .eventos__dos--e2 {
      background-image: url(../img/evento6.png); }
    .eventos__dos--e3 {
      background-image: url(../img/evento7.png); }
  .eventos__boton {
    background: transparent;
    text-transform: uppercase;
    font-family: aboreto;
    letter-spacing: 0.6rem;
    border: 0; }
    .eventos__boton a {
      color: yellow;
      text-decoration: none !important; }

.cards-one {
  width: 90%;
  background-color: rgba(36, 35, 38, 0.55);
  color: white;
  font-family: lato;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 30px auto;
  align-items: center; }

.cards-one h2 {
  margin: 30px;
  font-size: 30px; }

.cards-one h3 {
  margin: 50px;
  font-weight: 100; }

.cards-one img {
  width: 300px;
  margin: 30px; }

.div-cards {
  display: flex; }

@media (max-width: 992px) {
  .main {
    flex-flow: column; }
    .main__cards {
      width: 90%;
      margin: auto;
      padding: 2rem;
      margin-top: 2rem; }
      .main__cards img {
        width: 100%; }
  .main-index {
    height: 100vh; }
    .main-index--sp {
      background-size: cover; }
    .main-index--fcion {
      background-size: auto 100%; }
    .main-index .evento-1 img {
      width: 100% !important; }
  .main-index {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 0; }
    .main-index h1 {
      padding-top: 0;
      font-size: 8vh !important;
      margin: 0;
      font-family: aboreto;
      text-align: center; }
  .intro {
    padding: 5vh;
    font-size: 2rem;
    font-family: aboreto;
    line-height: 2.4rem;
    font-weight: 100; }
  .eventos__dos {
    display: none; }
  .eventos__uno {
    width: 100%;
    padding: 3rem; }
    .eventos__uno p {
      width: 90%; } }

.contacto {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 15vh auto 10vh;
  grid-auto-columns: 1fr;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas: "header header" "contacto-img form" "footer footer"; }

.contacto-img {
  height: 75vh;
  margin: 0 80px;
  text-align: center;
  grid-area: contacto-img; }
  .contacto-img img {
    width: 35vw; }

.contacto-form {
  padding-top: 19vh;
  margin: 0; }
  .contacto-form input::placeholder {
    color: white; }
  .contacto-form__altura-form {
    height: 15vw; }
  .contacto-form__form {
    font-weight: 100;
    font-family: josefin sans;
    background-color: purple;
    color: white;
    border: 0;
    font-size: 20px;
    width: 80%;
    padding: 20px;
    grid-area: form; }
  .contacto-form__boton-enviar {
    font-size: 20px;
    background-color: black;
    color: white;
    border: 0;
    padding: 10px 20px;
    font-family: josefin sans;
    text-transform: uppercase; }
  .contacto-form__comentario {
    background-color: #20083e; }

@media (max-width: 992px) {
  .contacto-form {
    width: 100%; }
    .contacto-form__form {
      width: 100%; } }

.grid {
  width: 99.9%;
  margin: auto;
  margin-bottom: 9vh; }
  .grid__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70vh 70vh 70vh 70vh;
    grid-auto-flow: row;
    align-content: center;
    align-items: stretch;
    grid-template-areas: "espacio1 espacio2 espacio3" "espacio4 espacio5 espacio5" "espacio6 espacio7 espacio8" "mapa mapa mapa"; }
  .grid__espacio1 {
    grid-area: espacio1;
    overflow: hidden; }
  .grid__espacio2 {
    grid-area: espacio2; }
  .grid__espacio3 {
    grid-area: espacio3;
    overflow: hidden; }
  .grid__espacio4 {
    grid-area: espacio4; }
  .grid__espacio5 {
    grid-area: espacio5; }
  .grid__espacio6 {
    grid-area: espacio6;
    overflow: hidden; }
  .grid__espacio7 {
    grid-area: espacio7;
    overflow: hidden; }
  .grid__espacio8 {
    grid-area: espacio8; }
  .grid__mapa {
    grid-area: mapa; }
    .grid__mapa iframe {
      filter: hue-rotate(90deg) brightness(90%); }
  .grid__img {
    overflow: hidden;
    height: 70vh; }
    .grid__img img {
      height: 100%;
      transition: height 1s; }
    .grid__img img:hover {
      height: 200%;
      transition: height 1s; }
  .grid--text {
    color: white;
    font-family: aboreto;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 2rem;
    padding: 0vh 4vw;
    height: 70vh;
    display: flex;
    align-items: center; }
  .grid--anemona {
    background-image: url(../../img/coral-liquido.jpg);
    color: white;
    font-family: aboreto;
    text-transform: uppercase;
    font-size: 15vh;
    text-align: center;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around; }

@media (max-width: 992px) {
  .grid__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80vh 80vh 80vh 80vh 80vh 80vh 100vh;
    grid-auto-flow: row;
    align-content: center;
    align-items: stretch;
    grid-template-areas: "espacio2" "espacio3" "espacio4" "espacio6" "espacio7" "espacio8" "mapa"; }
  .grid__espacio1 {
    display: none; }
  .grid__espacio5 {
    display: none; }
  .grid__img {
    height: 80vh; }
  .grid--text {
    padding: 0vh 10vw;
    height: 80vh; } }

.agenda-container {
  width: 80%;
  margin: 40px auto;
  color: white;
  font-family: aboreto;
  display: grid;
  grid-template-columns: 0.4fr 1.6fr;
  grid-template-rows: 2fr repeat(5, auto);
  gap: 0 20px;
  grid-auto-flow: row;
  grid-template-areas: "refe-1 refe-2" "fecha-1 descripcion-1" "fecha-2 descripcion-2" "fecha-3 descripcion-3" "fecha-4 descripcion-4" "fecha-5 descripcion-5"; }
  .agenda-container__refe-1 {
    padding: 10px; }
  .agenda-container__refe-2 {
    padding: 10px; }
  .agenda-container__fecha-1 {
    font-size: 14px;
    grid-area: fecha-1; }
  .agenda-container__fecha-2 {
    font-size: 14px;
    grid-area: fecha-2; }
  .agenda-container__fecha-3 {
    font-size: 14px;
    grid-area: fecha-3; }
  .agenda-container__fecha-4 {
    font-size: 14px;
    grid-area: fecha-4; }
  .agenda-container__fecha-5 {
    font-size: 14px;
    grid-area: fecha-5; }
  .agenda-container__descripcion-1 {
    font-size: 14px;
    grid-area: descripcion-1; }
  .agenda-container__descripcion-2 {
    font-size: 14px;
    grid-area: descripcion-2; }
  .agenda-container__descripcion-3 {
    font-size: 14px;
    grid-area: descripcion-3; }
  .agenda-container__descripcion-4 {
    font-size: 14px;
    grid-area: descripcion-4; }
  .agenda-container__descripcion-5 {
    font-size: 14px;
    grid-area: descripcion-5; }

@media (max-width: 992px) {
  .banner {
    height: 100vh; }
    .banner__filter {
      line-height: 300px;
      font-size: 2rem; } }

.cursos {
  display: flex;
  flex-direction: column; }

.alto-grids {
  display: flex;
  flex-flow: row wrap;
  width: 98%;
  margin: auto;
  align-items: center; }
  .alto-grids__taller {
    font-family: aboreto;
    font-size: 2rem;
    color: white;
    padding: 0 5rem; }
  .alto-grids__img {
    text-align: center; }

.texto-grid {
  padding: 0rem 5rem 0rem 0rem; }
  .texto-grid__horario {
    font-family: josefin sans;
    font-size: 0.7rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    background-color: black;
    padding: 1rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .texto-grid__horario span {
      font-size: 3rem;
      color: #fff082; }
    .texto-grid__horario p {
      margin-bottom: 0rem; }
    .texto-grid__horario b {
      color: #E7344C;
      font-size: 0.9rem; }
  .texto-grid__desc {
    color: white;
    font-family: josefin sans;
    font-weight: 100;
    font-size: 1.3rem;
    line-height: 1.5rem; }

.main-p h1 {
  font-family: aboreto;
  text-align: center;
  font-size: 100px; }

@media (max-width: 992px) {
  .texto-grid__horario {
    color: white !important;
    font-family: josefin sans;
    font-size: 1rem;
    font-weight: 200; }
  .texto-grid__desc {
    color: white;
    font-family: josefin sans;
    font-size: 1rem;
    font-weight: 100; }
  .alto-grids__img {
    width: 100%; }
    .alto-grids__img img {
      width: 100%; }
  .alto-grids__taller {
    padding: 0rem 2rem; }
  .texto-grid {
    width: 100%;
    padding: 0rem 2rem; }
    .texto-grid__horario {
      margin-top: 1rem;
      margin-bottom: 0.9rem; }
      .texto-grid__horario span {
        display: none; }
  .main-p h1 {
    font-size: 3rem !important;
    margin: 0;
    font-family: aboreto;
    text-align: center; } }

/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* width */
::-webkit-scrollbar {
  width: .7rem; }

/* Track */
::-webkit-scrollbar-track {
  background: #FCFC7E; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3CD3AB; }

/* google icons */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48; }

.background {
  background-color: black;
  /* background-image: url(../img/coral\ tonos\ \ violeta\ y\ blanco.png); */
  background-size: cover;
  /* background: rgb(251,247,255);
  background: linear-gradient(180deg, rgba(251,247,255,1) 0%, rgba(3,1,13,1) 100%); */
  background: #26004b;
  background: linear-gradient(180deg, #26004b 0%, #03010d 100%); }

.background-one {
  background: linear-gradient(180deg, #26004b 0%, #03010d 100%); }

.main-p h1 {
  color: white; }

.navbar a {
  color: white; }

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 2vh; }

.navbar-brand img {
  height: 5rem; }

.bar {
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 1; }

.navbar-brand {
  font-family: prata;
  text-transform: uppercase;
  letter-spacing: 10px; }

.navbar-nav {
  text-transform: uppercase;
  font-size: 1.2vh; }

.dropdown-menu {
  background-color: rgba(255, 255, 255, 0.3);
  border: solid 1px white;
  font-size: 1.2vh;
  --bs-dropdown-link-active-bg: transparent; }

.dropdown-item:hover {
  background-color: transparent; }

.header {
  grid-area: header; }

.header img {
  height: 120px;
  margin: 0 60px; }

.header ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  color: white;
  font-family: lato; }

.header li {
  margin: 50px; }

.header a {
  color: white;
  text-decoration: none; }

.nav-item {
  color: white; }

.boton-evento {
  border: hidden;
  background: transparent;
  color: white;
  font-size: 4rem; }

/* index */
.titulo {
  font-family: aboreto;
  font-size: 5rem !important; }

.titulo-index {
  font-family: Josefin Sans;
  font-weight: 400;
  font-size: 4rem; }

.evento-1 h3 {
  font-family: aboreto;
  font-size: 4rem; }

/* ESPACIO */
.espacio h3 {
  line-height: 40px;
  font-family: aboreto; }

.main h1 {
  font-size: 100px;
  margin: 40px 0;
  line-height: 40px;
  font-family: aboreto; }

.espacio-one {
  margin: 0; }

.inscripcion {
  font-family: josefin sans;
  font-weight: 200;
  color: white;
  font-size: 3rem; }

.inscripcion__titulo {
  transform: rotate(-90deg);
  width: 30vh;
  text-align: center; }

.taller {
  font-family: aboreto;
  font-size: 2rem;
  color: white; }

/* Mobile */
@media (max-width: 992px) {
  /* BACKGROUND POSITION */
  .background {
    background-position: center; }
  /* GENERAL */
  .header {
    flex-direction: column; }
  .header li {
    margin: 5px; }
  .header img {
    height: 80px;
    margin: auto; }
  /* AGENDA */
  .fecha-1,
  .fecha-2,
  .fecha-3,
  .fecha-4,
  .fecha-5 {
    font-size: 10px; }
  .descripcion-1,
  .descripcion-2,
  .descripcion-3,
  .descripcion-4,
  .descripcion-5 {
    font-size: 20px; }
  /* CONTACTO */
  .contacto {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-auto-columns: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: "header" "contacto-img" "form" "footer"; }
  .contacto-img {
    height: auto;
    padding-top: 16vh;
    margin: 0; }
  .contacto-img img {
    width: 100%; }
  .contacto-form {
    padding: 5vh 0;
    width: 90%;
    margin: auto; }
  .form {
    width: 100%; }
  /* INDEX */
  .intro {
    font-size: 20px;
    margin: 20px;
    line-height: 30px; }
  .cards {
    flex-direction: column; }
  /* FOOTER */
  .main {
    margin: 0; }
  .cards {
    margin: 20px; }
  .footer img {
    width: 40px; }
  .cards-one {
    flex-direction: column; }
  .cards-one h1,
  .cards-one h2,
  .cards-one h3 {
    margin: 20px; }
  /* ESPACIO */
  .main h1 {
    font-size: 30px;
    margin: 20px;
    font-family: aboreto;
    text-align: center; }
  .espacio {
    font-size: 15px;
    margin: 20px;
    line-height: 25px;
    font-family: aboreto; }
  .espacio-one {
    flex-direction: column; }
  .espacio-one img {
    width: 300px; } }

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-end; } }
