.contacto {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 15vh auto 10vh;
    grid-auto-columns: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: "header header" "contacto-img form" "footer footer";
}

.contacto-img {
    height: 75vh;
    margin: 0 80px;
    text-align: center;
    grid-area: contacto-img;
    img {
        width: 35vw;
    }
}


.contacto-form {
    padding-top: 19vh;
    margin: 0;
    input::placeholder {
        color: white;
    }
    &__altura-form {
        height: 15vw;
    }

    &__form {
        font-weight: 100;
        font-family: josefin sans;
        background-color: purple;
        color: white;
        border: 0;
        font-size: 20px;
        width: 80%;
        padding: 20px;
        grid-area: form;
    }

    &__boton-enviar {
        font-size: 20px;
        background-color: black;
        color: white;
        border: 0;
        padding: 10px 20px;
        font-family: josefin sans;
        text-transform: uppercase;
    }

    &__comentario {
        background-color: rgb(32, 8, 62);
    }

}

@media (max-width:992px){
    .contacto-form {
        width: 100%;
        &__form {width: 100%;}
    }
}