.cursos {
    display: flex;
    flex-direction: column
}

.alto-grids {
    display: flex;
    flex-flow: row wrap;
    width: 98%;
    margin: auto;
    align-items: center;
    &__taller {
        font-family: aboreto;
        font-size: 2rem;
        color: white;
        padding: 0 5rem;
    }
    &__img {
        text-align:center;
    }
}



.texto-grid {
    padding: 0rem 5rem 0rem 0rem;
    &__horario {
        font-family: josefin sans;
        font-size: 0.7rem;
        color: white;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        background-color: black;
        padding: 1rem;
        margin-bottom: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
            font-size: 3rem;
            color: rgb(255, 240, 130);
        }
        p {
            margin-bottom: 0rem;}
        b {
            color: $coral;
            font-size: 0.9rem;
        }
    }
    &__desc {
        color: white; 
        font-family: josefin sans;
        font-weight: 100;
        font-size: 1.3rem;
        line-height: 1.5rem;
    }
}



.main-p {
    h1 {
        font-family: aboreto;
        text-align: center;
        font-size: 100px;
    }
}

@media(max-width: 992px) {
    .texto-grid {
        &__horario {
            color: white !important;
            font-family: josefin sans;
            font-size: 1rem;
            font-weight: 200;
        }
        &__desc {
            color: white;
            font-family: josefin sans;
            font-size: 1rem;
            font-weight: 100;
        }
    }
    .alto-grids {
       &__img {
        width: 100%;
        img {width: 100%;}
    }
    &__taller {
        padding: 0rem 2rem;}
    }
    
    .texto-grid {
        width: 100%;
        padding: 0rem 2rem;
        &__horario {
            margin-top: 1rem; 
            margin-bottom: 0.9rem;
            span {display: none;}
        }
    }

    .main-p {
        h1 {
            font-size: 3rem !important;
            margin: 0;
            font-family: aboreto;
            text-align: center;
        }
    }
}
