.main-index {
    background-image: url('../img/index-qionoto.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    font-family: aboreto;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-weight: 100;
    font-size: 6rem;
    h1 {
        padding-top: 40vh;
        font-size: 4rem;
    }
    &--sp {
        background-image: url('../img/espacio.jpg') !important;
        background-repeat: no-repeat;
    }
    &--fcion {
        background-image: url('../img/img-formacion.png') !important;
        background-repeat: no-repeat;
    }
}
.slider {
    margin-top: 10rem;
    &__encabezado {
        text-align: center;
        padding-bottom: 3vh;
        font-family: aboreto;
        font-size: 1.7rem;
        color: white;
    }
}

.main {
    width: 95%;
    margin: auto;
    color: white;
    font-family: lato;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-evenly;
    &__cards {
        width: 23%;
        padding: 3%;
        border-radius: 15px;
        background-color: rgba(0, 0, 0, 0.4);
        overflow: hidden;
        h3 {
            font-family: aboreto;
            text-transform:uppercase;
            text-align:left;
            margin-top: 1rem;
            margin-bottom: 1rem;
            font-size: 1.5rem;
        }
        p {
            @include estilo-de-texto(1.2rem, 100);
            line-height: 120%;
            text-align:left;
        }

        img {
            width: 250px;
            transition: transform 0.2s;
            &:hover {
                transform: scale(1.6);
                transition: .2;
            }
        }
    }
}

.intro {
    font-family: aboreto;
    width: 90%;
    margin: auto;
    font-weight: 100;
    font-size: 4rem;
    line-height: 4rem;
    color: white;
    padding: 30vh 0vh;
}


.eventos {
    display: flex;
    flex-flow: row wrap;
    h3 {
        font-family: aboreto;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }
    p {
        width: 50%;
        font-size: 1.1rem;
        line-height: 120%;
        font-family: josefin sans;
        font-weight: 100;
    }
    &__uno {
    padding: 2rem 0 2rem 7rem;
    color: white;
    height: 50vh;
    width: 50%;
    background-position: right;
    background-size: 50%;
    background-repeat: no-repeat;
    &--e1 {
        background-image: url(../../img/imagen-evento.jpg);       
    }
}

&__dos {
    padding: 2rem 0 2rem 7rem;
    color: white;
    height: 50vh;
    width: 50%;
    background-position: right;
    background-size: 50%;
    background-repeat: no-repeat;
}
&__boton {
    background:transparent; 
    color: yellow; 
    text-transform: uppercase; 
    font-family: aboreto;
    letter-spacing: 0.6rem;
    border: 0;

}
}


.cards-one {
    width: 90%;
    background-color: rgba(36, 35, 38, 0.55);
    color: white;
    font-family: lato;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: 30px auto;
    align-items: center;
}

.cards-one {
    h2 {
        margin: 30px;
        font-size: 30px;
    }
}

.cards-one {
    h3 {
        margin: 50px;
        font-weight: 100;
    }
}

.cards-one {
    img {
        width: 300px;
        margin: 30px;
    }
}


.div-cards {
    display: flex
}


@media(max-width: 992px) {
    .main {
        flex-flow: column;
        &__cards {
            width: 90%;
            margin: auto;
            padding: 2rem;
            margin-top: 2rem;
            img {
                width: 100%;
            }

        }
    }

    .main-index {
        height: 100vh;

        &--sp {
            background-size: cover;
        }
        &--fcion {
            background-size: auto 100%;
        }

        .evento-1 {
            img {
                width: 100% !important;
            }
        }
    }
    .main-index {
        display: flex;
        align-items: center;
        height: 100vh;
        padding: 0;
        h1 {
            padding-top: 0;
            font-size: 8vh !important;
            margin: 0;
            font-family: aboreto;
            text-align: center;
        }
    }

    .intro {
            padding: 5vh;
            font-size: 2rem;
            font-family: aboreto;
            line-height: 2.4rem;
            font-weight: 100;
        }

    .eventos {
        &__dos {display: none;}
        &__uno {width: 100%;
        padding: 3rem;
    p {
        width: 90%;
    }}
    }

   
    

}

